
.main{
    display: grid;
    grid-template-columns: 6, 1fr;
    grid-template-rows: 6, 1fr;

}



.footer{
    background-color: #fffd8c;
    padding: 2rem 1rem;
    /* Adding a negative margin to the footer  */
    /* that will allow the footer to stretch */
    margin: 0 -1rem;
}

/* Apply the exported Calculate Button from Adobe XD to the  */
/* footer form's Calculate Button to recreate the desired look/feel */
#btn-calculate{
    background-image: url(/images/buttons/calculate.svg);

}




/* This is where I am setting the media queries for responsive layout */
/*  at different screen sizes */

/* styling to a maximum width of 1020px */
@media screen and (max-width: 1020){


}

