/*  Setting the font Montserrat as the default for the page */
html {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
/* Setting the font sizing for the H1 header  */
h1 {
    font-size: 44px;
    font-weight: bold;
}
/* Making the logo image in the header responsive to changes in view sizing */
.logo {
    max-width: 10%;
}
/* Setting the maximum width for desktop mode as well as centering the content */
main {
    max-width: 1300px;
    margin-left: 40px;
}
.apply-list {
    /* removing the bullets from the list items */
    list-style: none;
}
/* The left paragraph text and the apply form have been given the classes of card-a and card-b so I can target them specifically for styling purposes */
.cards {
    /* Putting the background image into this section of the page */
    background-image: url("../images/bg-image/scooter.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    /* Creating a grid container to put the two cards in - left and right */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: (1fr, 1fr); */
    /* column-gap: 40%; */
    border-radius: 5px;
    grid-template-areas: "card-a" "card-b";
}
/* Setting the flow for the Apply Now form  */
.card-b {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Using flexbox for the social media icons to display them in a row */
.social-media {
    display: flex;
    justify-content: space-around;
    /* removing the bullets from the list items */
    list-style: none;
}
/* --------------------------------------------------------------------- */
/* STYLING BUTTONS */
/* Applying sizing and colouring to the  Calculate Button */
/* to the footer form to recreate the look/feel */
.btn-calculate {
    background-color: #FF8480;
    color: white;
    font-weight: bold;
    padding: 4px 22px;
    border: none;
    border-radius: 4px;
}
/* Applying sizing and colouring to the Drive With Us button */
/* to the footer form to recreate the look/feel */
.btn-drive {
    background-color: #57EEAB;
    color: black;
    font-weight: bold;
    padding: 7px 25%;
    border: none;
    border-radius: 4px;
}
/* ---------------------------------------------------------------------- */
/*  STYLING THE APPLY FORM and LIST ITEMS - adjusting colours, padding and elements to match the mock-up. Rounding the edging of all inputs*/
.apply-form {
    background-color: white;
    padding-top: 0;
    width: 60%;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 8px #888888;
}
.apply-list {
    padding-left: 0;
}
#firstname {
    background-color: #F4F4F5;
    border: none;
    padding: 5px 20%;
    margin-bottom: 6px;
    text-align: left;
    border-radius: 4px;
    color: #9B9B9B;
}
#lastname {
    background-color: #F4F4F5;
    border: none;
    padding: 5px 20%;
    margin-bottom: 6px;
    text-align: left;
    border-radius: 4px;
    color: #9B9B9B;
}
#email {
    background-color: #F4F4F5;
    border: none;
    padding: 5px 20%;
    margin-bottom: 6px;
    text-align: left;
    border-radius: 4px;
    color: #9B9B9B;
}
#phonenumber {
    background-color: #F4F4F5;
    border: none;
    padding: 5px 20%;
    margin-bottom: 6px;
    text-align: left;
    border-radius: 4px;
    color: #9B9B9B;
}
#agree {
    border-radius: 50%;
}
/*  Adjusting font sizes and targeting specific paragraph text for changes */
#terms {
    font-size: 0.70em;
}
.already {
    font-size: 0.60em;
    display: flex;
}
.status {
    font-size: 0.60em;
    color: #FF8480;
}
/*  -------------------------------------------------------------------------- */
/* Setting the footer as a flexbox to align the social media icons along the same x-axis */
footer {
    display: flex;
    background-color: #FFFD8C;
    padding: 2rem 1rem;
    /* Adding a negative margin to the footer  */
    /* that will allow the footer background colour to stretch fully left */
    margin: 0 -1rem;
}
.container {
    /* margin: 0 20%; */
    margin-right: 10%;
    margin-left: 50px;
}
/* ----------------------------------------------------------------------------- */
/* STYLING the calculate form input boxes - rounding the corners and adjusting font colours */
#hours {
    background-color: white;
    border: none;
    padding: 5px;
    margin-bottom: 6px;
    text-align: left;
    border-radius: 4px;
    color: #707070;
}
#city {
    background-color: white;
    border: none;
    padding: 5px;
    margin-bottom: 6px;
    text-align: left;
    border-radius: 4px;
    color: #707070;
}
/* ---------------------------------------------------------------------- */
/* Trying to set media queries for responsive layout */
/*  at different screen sizes */

/* styling to a maximum width of 650px */
@media screen and (max-width: 605px) {
    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: "card-a" "card-b";
    }
    .card-b {
        margin-left: 10%;
    }
}
/* styling to a maximum width of 300px */
@media screen and (max-width: 300px) {
    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: "card-a" "card-b";
    }
    .card-b {
        margin-left: 10%;
    }
}
