/* --------------------------------
          Custom Styles
------------------------------------ */

/* Setting the font family to match the mock-up */
html {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    color: #3c3b3a;
}

/* Removing decoration from lists */
ol,
ul {
    list-style: none;
}

/* Setting the line spacing for all body text */
body {
    line-height: 1.5;
    /* display: flex; */
}

/* Setting navigation font attributes */
a,
a:link,
a:visited {
    font-size: 16px;
    color: #f2f2f2;
    text-decoration: none;
}

a:focus,
a:hover {
    font-size: 18px;
    font-weight: bold;
    color: #f2f2f2;
    text-decoration: none;
}

/* Styling the Headers */
h1 {
    font-weight: bolder;
    font-size: 44px;
    line-height: 1.2;
}
h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
}
h3 {
    font-weight: lighter;
    /* font-style: italic; */
    font-size: 24px;
    color: #26A682;
    margin-bottom: 0;
}
h4 {
    color: #f2f2f2;
}

/* Setting the container to the mobile mockup max */
/* Will use Media Query for larger sizes to adjust */
.container {
    /* max-width: 376px; */
    margin: auto;
    /* max-width: 375px; */
    /* margin: 0px 36px 0px 36px; */
}

/* Styling the navigation area and background color */
.masthead {
    height: 225px;
    /* padding: 40px 0px 20px 0px; */
    padding-top: 1px;
    background-color: #3c3b3a;
    /* align-content: center; */
    text-align: center;
}
/* Styling the navigation to remove text decoration */
.nav-list li {
    margin: 0 36px;
    text-decoration: none;
    /* list-style: none; */
    padding-top: 8px;
}

/* ------------------------------ ANIMATION  ------------------------------ */
/* Animating the ARC logo */
.nav-list .arc-logo {
    animation: hinge-in 2.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes hinge-in {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}


/* ---------------------------------------------------------------------- */
/*  STYLING THE APPLY FORM and LIST ITEMS - adjusting colours, padding and elements to match the mock-up. */
.submit-form {
    background-color: #26A682;
    padding-top: 0;
    width: 60%;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 8px #888888;
}

#fullnamne {
    background-color: #F4F4F5;
    border: none;
    padding: 10px 20%;
    margin-bottom: 6px;
    text-align: left;
    border-radius: 20px;
    color: #9B9B9B;
}
#student-number {
    background-color: #F4F4F5;
    border: none;
    padding: 5px 20%;
    margin-bottom: 6px;
    text-align: left;
    border-radius: 4px;
    color: #9B9B9B;
}
#email {
    background-color: #F4F4F5;
    border: none;
    padding: 5px 20%;
    margin-bottom: 6px;
    text-align: left;
    border-radius: 4px;
    color: #9B9B9B;
}
#message {
    background-color: #F4F4F5;
    border: none;
    padding: 5px 20%;
    margin-bottom: 6px;
    text-align: left;
    border-radius: 4px;
    color: #9B9B9B;
}

/* Section FOOTER */
/* Setting background colour and alignment */
.site-footer {
    background-color: #3c3b3a;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    /* justify-content: center; */
}
.follow {
    text-align: center;
    padding-top: 20px;

}
.social-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
}

/* BACK TO TOP button */
.top {
    display: block;
    /* justify-self: right; */
}
